/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.products {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la lista de productos */
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Estilos para cada tarjeta de producto */
.productCard {
  width: 300px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }

  span {
    color: #777;
  }
}

/* Estilos para los botones de navegación */
.prev,
.next {
  display: block;
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #2980b9;
  }
}
